unit3/.ipynb_checkpoints/exercise03-checkpoint.ipynb
unit2/.ipynb_checkpoints/exercise02-checkpoint.ipynb
unit5/.ipynb_checkpoints/exercise05_solution-checkpoint.ipynb
unit5/.DS_Store
.vscode/settings.json
